@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 1.3rem;
  font-weight: 500;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 2.4rem;
  background-color: var(--Light-Grayish-Blue);
}

main {
  display: grid;
  background-color: white;
  border-radius: 1rem;
  max-width: 35rem;
  position: relative;
  box-shadow: 0px 18px 11px rgba(0, 0, 0, 0.03);
}

.hero {
  background-image: url("./images/drawers.jpg");
  min-height: 20rem;
  max-height: 28rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3.6rem;
  border-radius: 1rem 1rem 0 0;
}

.article {
  padding: 0 3.2rem;
}

.article h1 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015em;
  color: var(--Very-Dark-Grayish-Blue);
  margin-bottom: 1.2rem;
}

.article p {
  line-height: 2rem;
  letter-spacing: 0.01em;
  color: var(--Grayish-Blue);
}

.footer {
  padding: 3.2rem 3.2rem 2rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .writer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer .writer img {
  border-radius: 50%;
  width: 4rem;
}

.footer .writer span {
  display: block;
  line-height: 1.8rem;
  letter-spacing: 0.01em;
}

.footer .writer a.name {
  text-decoration: none;
  font-weight: 700;
  color: var(--Very-Dark-Grayish-Blue);
}

.footer .writer span.date {
  font-weight: 500;
  color: var(--Grayish-Blue);
}

.footer .share-icon {
  background-color: var(--Light-Grayish-Blue);
  width: 3.2rem;
  height: 3.2rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.footer .share-icon:hover {
  background-color: var(--Desaturated-Dark-Blue);
}

.footer .share-icon:hover svg path {
  fill: white;
}

.share {
  padding: 3.2rem 3.2rem 2rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Very-Dark-Grayish-Blue);
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  border-radius: 0 0 1rem 1rem;
}

.share .link {
  display: flex;
  align-items: center;
}

.share .link span {
  text-transform: uppercase;
  margin-right: 2.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.38em;
  color: var(--Grayish-Blue);
  display: inherit;
}

.share .link a {
  display: inherit;
  margin-right: 1.6rem;
}

ion-icon {
  color: white;
  font-size: 2rem;
}

.share .share-icon {
  background-color: var(--Desaturated-Dark-Blue);
  width: 3.2rem;
  height: 3.2rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.share .share-icon svg path {
  fill: white;
}

.share .share-icon:hover {
  background-color: var(--Light-Grayish-Blue);
}

.share .share-icon:hover svg path {
  fill: var(--Desaturated-Dark-Blue);
}

.slide-top {
  -webkit-animation: slide-top 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.8) both;
  animation: slide-top 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.8) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-12-31 18:7:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.8) both;
  animation: slide-out-bottom 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.8) both;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    z-index: -99;
  }
}

@media screen and (min-width: 880px) {
  main {
    grid-template-columns: 28.5rem auto;
    grid-template-areas:
      "hero article"
      "hero footer";
    max-width: 73rem;
    max-height: 28rem;
  }

  .hero {
    grid-area: hero;
    margin: 0;
    background-position: left;
    border-radius: 1rem 0 0 1rem;
  }

  .article {
    grid-area: article;
    padding: 3.2rem 4rem 0 4rem;
  }

  .article h1 {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .footer {
    grid-area: footer;
    padding: 2rem 4rem 3.2rem 4rem;
  }
  .share {
    grid-area: footer;
    place-content: center;
    border-radius: 1rem;
    width: 24.8rem;
    padding: 2rem 3.6rem;
    bottom: 105%;
    left: 60%;
  }

  .share::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent
      transparent;
  }

  .share .share-icon {
    display: none;
  }
}
